rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthorized() {
      return request.auth != null
        && request.auth.token.email_verified == true
        && request.auth.token.email in [
          'enescetintas95@gmail.com'
        ];
    }
    match /students/{studentId} {
      allow read, write: if isAuthorized();
    }
    match /evaluations/{evaluationId} {
      allow read, write: if isAuthorized();
    }
  }
}
